<% layout("./layouts/boilerplate.ejs") %>
<div class="row mt-3 mb-4">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      action="/listings/<%= listing._id %>?_method=PATCH"
      method="POST"
      novalidate
      class="needs-validation"
      enctype=""
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          value="<%=listing.title  %>"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"> Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        >
<%=listing.description  %></textarea
        >
        <div class="valid-feedback">Description looks good</div>
        <div class="invalid-feedback">Provide a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/link"
          type="text"
          class="form-control"
          value="<%=listing.image  %>"
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price </label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            value="<%=listing.price  %>"
            required
          />
          <div class="valid-feedback">Price looks good</div>
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="IN"
            type="text"
            class="form-control"
            value="<%=listing.country  %>"
            required
          />
          <div class="valid-feedback">Country looks good</div>
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location </label>
        <input
          name="listing[location]"
          placeholder="Hyderabad, Telangana"
          type="text"
          class="form-control"
          value="<%=listing.location  %>"
          required
        />
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button class="btn btn-dark update-btn mt-3">Update</button>
    </form>
  </div>
</div>
